%div{"ng-include" => "", :src => "'partials/menu.html'"}
#container.container
  .blog-post-label Blog Entry
  .blog-entry-wrapper
    .blog-intro-text
      Posted: {{blogEntry.date| date:'MM/dd/yyyy @ h:mma'}}
    .blog-entry-outer
      {{blogEntry.blogText}}
    .blog-comment-wrapper
      .blog-comment-label Blog Comments
      .blog-entry-comments{"ng-repeat" => "comment in blogEntry.comments"}
        {{comment.commentText}}
