%div{'ng-include' => "", :src => "'partials/menu.html'"}
#container.container
  .blog-post-label Blog Posts
  .post-wrapper
    %div{'ng-repeat' => 'blogPost in blogList'}
      .blog-post-outer
        .blog-intro-text
          Posted: {{ blogPost.date | date:'MM/dd/yyyy @ h:mma' }}
        .blog-intro-text
          {{ blogPost.introText }} ...
        .blog-read-more
          %a{:href => '#!blogPost/{{blogPost._id}}'} Read More
