!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gulp Book Project
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "A simple one-page website to demonstrate gulp.", :name => "description"}/
    %meta{:content => "gulp, book, example", :name => "keywords"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %link{:href => "dist/all.css", :rel => "stylesheet"}/
  %body
    #core
      .box
        %img.gulp-logo{:alt => "Gulp Logo", :src => "http://placekitten.com/299/300"}/
        %h1 Gulp Book Example
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque unde doloremque illo, voluptatibus repellendus iusto, praesentium officia necessitatibus consectetur blanditiis neque eveniet accusamus dolorum labore iure vel, tempora odio.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dignissimos commodi minus sint animi itaque praesentium, natus vel eaque, molestias sequi modi quaerat aliquam in, quisquam quos, impedit maiores ratione!
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ut possimus, repellat vero modi, aliquam pariatur deserunt voluptas quam omnis maiores eveniet quo ipsam totam quasi recusandae, rem sit deleniti.
    %script{:src => "dist/all.js"}
