%form{'ng-submit' => 'submit()', 'ng-controller' => 'NewCustomerCtrl'}
  %div
    Customer Name:
    %input{:type => 'text', 'ng-model' => 'name', :required => ''}
  %div
    Customer City:
    %input{:type => 'text', 'ng-model' => 'city', :required => ''}

  %button{:id => 'f1', :type => 'submit'} Add New Customer