[submodule "projects/adhdevelopers"]
  path = projects/adhdevelopers
  url = git@github.com:robinrob/adhdevelopers
[submodule "projects/angular-test"]
  path = projects/angular-test
  url = git@github.com:robinrob/angular-test
[submodule "projects/boiler-plate"]
  path = projects/boiler-plate
  url = git@github.com:robinrob/boiler-plate
[submodule "projects/bouncing-balls"]
  path = projects/bouncing-balls
  url = git@github.com:robinrob/bouncing-balls
[submodule "projects/brainnwave-test"]
  path = projects/brainnwave-test
  url = git@bitbucket.org:rsmith-io/brainnwave-test
[submodule "projects/cocos-examples"]
  path = projects/cocos-examples
  url = git@github.com:robinrob/cocos-examples
[submodule "projects/concentration-game"]
  path = projects/concentration-game
  url = git@github.com:robinrob/concentration-game
[submodule "projects/console-writer"]
  path = projects/console-writer
  url = git@github.com:robinrob/console-writer
[submodule "projects/flappy-fish"]
  path = projects/flappy-fish
  url = git@github.com:robinrob/flappy-fish
[submodule "projects/flappy-fish-physics"]
  path = projects/flappy-fish-physics
  url = git@github.com:robinrob/flappy-fish-physics
[submodule "projects/float-test-client"]
  path = projects/float-test-client
  url = git@bitbucket.org:rsmith-io/float-test-client
[submodule "projects/guitar-chords"]
  path = projects/guitar-chords
  url = git@github.com:robinrob/guitar-chords
[submodule "projects/gulpfile"]
  path = projects/gulpfile
  url = git@github.com:robinrob/gulpfile
[submodule "projects/interpreter"]
  path = projects/interpreter
  url = git@github.com:robinrob/interpreter
[submodule "projects/jekyll-gulp-haml-sass-browsersync"]
  path = projects/jekyll-gulp-haml-sass-browsersync
  url = git@github.com:robinrob/jekyll-gulp-haml-sass-browsersync
[submodule "projects/mobile-app-cordova"]
  path = projects/mobile-app-cordova
  url = git@github.com:robinrob/mobile-app-cordova
[submodule "projects/orbiter"]
  path = projects/orbiter
  url = git@bitbucket.org:robinrob/orbiter.git
[submodule "projects/orbiter-lite"]
  path = projects/orbiter-lite
  url = git@github.com:robinrob/orbiter-lite
[submodule "projects/planet-pairs"]
  path = projects/planet-pairs
  url = git@github.com:robinrob/planet-pairs
[submodule "projects/quiz-react"]
  path = projects/quiz-react
  url = git@github.com:robinrob/quiz-react
[submodule "projects/react-tutorial"]
  path = projects/react-tutorial
  url = git@github.com:robinrob/react-tutorial
[submodule "projects/Reader"]
  path = projects/Reader
  url = git@github.com:robinrob/reader.git
[submodule "projects/recipes-app"]
  path = projects/recipes-app
  url = git@github.com:robinrob/recipes-app
[submodule "projects/robinrob.github.io"]
  path = projects/robinrob.github.io
  url = git@github.com:robinrob/robinrob.github.io
[submodule "projects/robinrob.github.io-dev"]
  path = projects/robinrob.github.io-dev
  url = git@github.com:robinrob/robinrob.github.io-dev
[submodule "projects/rsmithio"]
  path = projects/rsmithio
  url = git@github.com:robinrob/rsmithio
[submodule "projects/runner"]
  path = projects/runner
  url = git@github.com:robinrob/runner
