<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Animate
    :javascript
      console.clear()
    :css
      .horiz {
        background: blue;
      }
      
      div:not(.horiz) {
        background: red;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        margin-right: 20px;
      }
      
      .horiz div {
        float: left;
      }
  %body
    .horiz
      #one
      #two
      #three
    #four
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "animate.js", :type => "text/javascript"}
