<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Attributes
    :javascript
      console.clear()
    :css
      div {
        width: 200px;
        height: 200px;
        background: red;
      }
  %body
    %div
    %div{:name => "wanker"} Wanker
    %div{:name => "bollocks"} Bollocks
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "attributes.js", :type => "text/javascript"}
