<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Empty Remove Unwrap
    :javascript
      console.clear()
    :css
      table {
        border-style: dotted;
      }
      
      td {
        border-style: solid;
      }
      
      div {
        background: yellow;
      }
  %body
    %table
      %tr
        %td Col 1
        %td Col 2
        %td Col 3
        %td Col 4
        %td Col 5
        %td Col 6
      %tr
        %td Col 1
        %td Col 2
        %td Col 3
        %td Col 4
        %td Col 5
        %td Col 6
      %tr
        %td Col 1
        %td Col 2
        %td Col 3
        %td Col 4
        %td Col 5
        %td Col 6
      %tr
        %td Col 1
        %td Col 2
        %td Col 3
        %td Col 4
        %td Col 5
        %td Col 6
      %tr
        %td Col 1
        %td Col 2
        %td Col 3
        %td Col 4
        %td Col 5
        %td Col 6
      %tr
        %td Col 1
        %td Col 2
        %td Col 3
        %td Col 4
        %td Col 5
        %td Col 6
    #parent
      %p#child1 Child 1!
      %p#child2 Child 2!
      %p#child3 Child 3!
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "empty_remove_unwrap.js", :type => "text/javascript"}
