<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Fadeout
    :css
      div {
        width: 100px;
        height: 100px;
        background-color: red;
      }
      
      #two {
        visibility: hidden;
      }
  %body
    #one
    #two
    #three
    #four
    #five
    #six
    #seven
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "fadeout.js", :type => "text/javascript"}
