<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Form Events
    :javascript
      console.clear()
    :css
      .required:before {
        color: red;
        content: "*"
      }
  %body
    %form
      %label.required Name
      %input#name{:type => "text"}/
      %input{:type => "submit"}/
    %p#msg
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "form_events.js", :type => "text/javascript"}
