<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Image Slider
    :javascript
      console.clear()
    :css
      body {
        padding: 50px;
      }
      
      #slider {
        width: 300px;
        height: 300px;
        overflow: hidden;
      }
      
      #slider ul {
        list-style: none;
        height: 300px;
        margin: 0;
        padding: 0;
      }
      #slider li {
        float: left;
        width: 300px;
        height: 300px;
      }
      
      .button {
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: block;
        padding: 6px;
        border: 1px solid #ccc;
        margin: 10px 0 0 0;
        height: 20px;
      }
      
      .buttons {
        width: 300px
      }
      
      .back {
        float: left;
      }
      
      .next {
        float: right;
      }
      
      img {
        width: 300px;
      }
  %body
    #slider
      %ul
        %li
          %img{:alt => "Kitten", :src => "http://placekitten.com/g/299/300"}/
        %li
          %img{:alt => "Kitten", :src => "http://placekitten.com/g/299/300"}/
        %li
          %img{:alt => "Kitten", :src => "http://placekitten.com/g/299/300"}/
        %li
          %img{:alt => "Kitten", :src => "http://placekitten.com/g/299/300"}/
        %li
          %img{:alt => "Kitten", :src => "http://placekitten.com/g/299/300"}/
        %li
          %img{:alt => "Kitten", :src => "http://placekitten.com/g/299/300"}/
    .buttons
      %span.button.back Back
      %span.button.next Next
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery-ui/jquery-ui.js", :type => "text/javascript"}
    %script{:src => "image_slider.js", :type => "text/javascript"}
