<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Mouse Events
    :javascript
      console.clear()
    :css
      div {
        background: red;
        width: 200px;
        height: 200px;
        text-align: center;
        display: table;
      }
      
      span {
        display: table-cell;
        vertical-align: middle;
      }
  %body
    %div
      %span Hover me!
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "mouse_events.js", :type => "text/javascript"}
