<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title On Document Ready
    :javascript
      console.clear()
    :css

  %body
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "on_document_ready.js", :type => "text/javascript"}
