<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Paragraph Listener
    :javascript
      console.clear()
    :css

  %body
    %div
      %p Paragraph 1
      %p Paragraph 2
      %p Paragraph 3
      %p Paragraph 4
      %p Paragraph 5
      %p Paragraph 6
      %p Paragraph 7
      %p Paragraph 8
      %p Paragraph 9
      %p Paragraph 10
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "paragraph_listener.js", :type => "text/javascript"}
