<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Plugin
    :javascript
      console.clear()
    :css
      .accordion {
        width: 500px;
        border: 1px solid black;
      }
      
      .accordion h2 {
        padding: 5px;
        margin: 0;
        background: #ddd;
      }
      
      .accordion p {
        padding: 0 5px;
      }

  %body
    #div1 Hello
    #div2 Hello
    #div3 Hello
    #div4 Hello
    #div5 Hello
    #div6 Hello
    #div7 Hello
    %div Bye

    .accordion 
      %h2 Heading 1
      %p
        Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. 
        Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. 
        Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. 
        Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. 
        Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. Paragraph blah blah blah. 
      %h2 Heading 2
      %p
        Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. 
        Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. 
        Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. 
        Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. 
        Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. Gypsies haha. 
      %h2 Heading 3
      %p
        Let's go girls! Let's go girls! Let's go girls! Let's go girls! Let's go girls! Let's go girls! 
        Oh you missed it! Oh you missed it! Oh you missed it! Oh you missed it! Oh you missed it! 
        Do it next time yeah. Do it next time yeah. Do it next time yeah. Do it next time yeah. 
        Let's go girls! Let's go girls! Let's go girls! Let's go girls! Let's go girls! Let's go girls! 
        Oh you missed it! Oh you missed it! Oh you missed it! Oh you missed it! Oh you missed it! 

  %footer
    %script{:src => "lib/jquery.js", :type => "text/javascript"}
    %script{:src => "lib/jquery-ui/jquery-ui.js", :type => "text/javascript"}
    %script{:src => "logid.jquery.js", :type => "text/javascript"}
    %script{:src => "logattr.jquery.js", :type => "text/javascript"}
    %script{:src => "accordion.jquery.js", :type => "text/javascript"}
    %script{:src => "plugin.js", :type => "text/javascript"}
