<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Plugin
    :javascript
      console.clear()
    :css

  %body
    #div1 Hello
    #div2 Hello
    #div3 Hello
    #div4 Hello
    #div5 Hello
    #div6 Hello
    #div7 Hello
  %footer
    %script{:src => "lib/jquery.js", :type => "text/javascript"}
    %script{:src => "lib/jquery-ui/jquery-ui.js", :type => "text/javascript"}
    %script{:src => "logid.jquery.js", :type => "text/javascript"}
    %script{:src => "plugin.js", :type => "text/javascript"}
