<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Trigger
    :javascript
      console.clear()
    :css

  %body
    %button Alternate Submit Button
    %form
      %input{:type => "submit"}/
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "trigger.js", :type => "text/javascript"}
