<!doctype html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Fuck
    :javascript
      console.clear()
    :css
      .yellow {
        background: yellow;
      }

      .blue {
        background: blue;
      }
  %body
    %div
    %div
    %div
    %div
    %div
  %footer
    %script{:src => "/Users/msl/programming/robin/javascript/lib/jquery.js", :type => "text/javascript"}
    %script{:src => "css.js", :type => "text/javascript"}
